*{
    margin: 0;
    box-sizing: border-box;
}

.chess-app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;

    height: 100vh;
    width: 100vw;
}